coverage>=6.5
flake8>=6.1
mongomock>=4.1
mypy>=0.991
mypy-extensions>=0.4.4
pylint>=3.2
pytest>=7.4
python-semantic-release>=9.7
types-PyYAML
types-requests
types-setuptools
types-urllib3
typing_extensions>=4.11
